


<header>
  <h1>Tiny App</h1>

  <% if (username == undefined) { %>

<form method="POST" action="/urls/login">
    <input id="login" type="text" name="username" placeholder="Please sign in"  style="width: 300px">

    <button type="Submit">Sign in</button>
</form>

<% } else { %>
<%= username %>
<form method="POST" action="/urls/logout">
    <button type="Submit">Sign out</button>

<% } %>

</header>
