<header>
  <h1>Tiny App</h1>
</header>


<% if (current_user) { %>
<%= current_user.email %>
<p><form method="POST" action="/logout">
    <button type="Submit">Sign out</button>
</form></p>

<% } else { %>

<p><a href="/login">Login</a></p>
<p><a href="/register">Register</a></p>
<% } %>



