


<header>
  <h1>Tiny App</h1>

<p><% if (current_user == undefined) { %>

<form method="POST" action="/login">
    <input id="login" type="text" name="email" placeholder="email"  style="width: 300px">
    <input id="login" type="text" name="password" placeholder="Password"  style="width: 300px">

    <button type="Submit">Sign in</button>
</form></p>

<p>
<a href="/register">Register</a>
</p>

<% } else { %>
<%= current_user.email %>
<p><form method="POST" action="/logout">
    <button type="Submit">Sign out</button>

<% } %></form></p>

</header>
