<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<head>
<% include ./partials/_header %>
</head>
<form method="POST" action="/login">
    <input id="login" type="text" name="email" placeholder="email"  style="width: 300px">
    <input id="login" type="text" name="password" placeholder="Password"  style="width: 300px">

    <button type="Submit">Sign in</button>


</form></p>
</body>
</html>
