<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<header>
    <% include ./partials/_header %>
  </header>

<p><form method="POST" action="/register">
    <input id="email" type="email" name="email" placeholder="email"  style="width: 300px">
    <input id="password" type="password" name="password" placeholder="password"  style="width: 300px">

    <button type="Submit">Register</button>

</form> </p>


</body>
</html>
