<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
 <header>
        <% include ./partials/_header %>
    </header>
<ul>
<% for (let shortURL in urls) { %>
  <li><%= shortURL %> - <%= urls[shortURL] %></li>
<% } %>
  <li>Create New</li>
</ul>

</body>
</html>
