<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
  <header>
        <% include ../partials/_header %>
    </header>
<body>
<h1>

    <p><%=  shortURL %> - <%=  longURL  %></p>


</h1>>
</body>
</html>